@import "./src/global_styles/variables";

@mixin text ($color: $darkSteel){
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: $color;
  user-select: none;
}
.player-card {
  width: 260px;
  flex-basis: 260px;
  padding: 10px;
  margin: 30px;

  background-color: $snow;
  border: 3px solid $darkSteel;
  border-radius: 32px;
  color: $darkSteel;
  box-shadow: 0 0 26px 2px rgba(0, 0, 0, .4);
  &__header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: $snow;
  }
  &__main {

  }
  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include text();
  }
  &__text {
    @include text();
  }
  &__separator {
    width: 90%;
    margin: 15px auto;

    border: none;
    border-bottom: 2px dashed $darkSteel;
  }
}